<section id="home" class="hero">
  <div class="hero-left">

    <!-- BIG Hello Badge -->
    <div class="tag-row">
      <span class="tag-pill big-hello">Hello! I'm</span>
    </div>

    <!-- Name -->
    <h1 class="hero-title">
      Ehsanul <span class="blue">Mostofa</span>
    </h1>

    <!-- Subtitle under name -->
    <p class="role-line">Full-Stack Software Engineer</p>
<br>
    <p class="hero-subtitle">
      I build enterprise level software with modern technologies like
      Angular and .NET Core. 🚀 
    </p>

<div class="hero-actions">
  <a routerLink="projects" class="btn-primary">View Projects</a>
  <a routerLink="contact" class="btn-ghost">Contact Me</a>

  <!-- NEW SOCIAL ICON BUTTONS -->
  <a 
    href="https://github.com/Ehsanul-mostofa" 
    target="_blank" 
    rel="noopener noreferrer"
    class="icon-btn"
  >
    <img src="assets/icons/git.png" alt="GitHub">
  </a>

  <a 
    href="https://www.linkedin.com/in/ehsanul-mostofa-65b7251a7/" 
    target="_blank" 
    rel="noopener noreferrer"
    class="icon-btn"
  >
    <img src="assets/icons/linkedin-2.png" alt="LinkedIn">
  </a>
</div>
  </div>

  <div class="hero-right">
    <div class="clock-wrapper">
      <app-clock></app-clock>
    </div>

    <app-code-card></app-code-card>
  </div>

</section>
