<div class="code-wrapper">
  <div class="code-card">

    <div class="top-bar">
      <div class="dots">
        <span class="dot red"></span>
        <span class="dot yellow"></span>
        <span class="dot green"></span>
      </div>

      <div class="file-name">developer.js</div>
    </div>

<pre class="code">
<span class="comment">// Software Engineer</span>

<span class="keyword">const</span> <span class="var">developer</span> <span class="comment">{{ '{' }}</span>
  <span class="key">name</span><span class="comment">:</span> <span class="string">'Ehsanul Mostofa'</span><span class="comment">,</span>
  <span class="key">skills</span><span class="comment">:</span> <span class="array">['Angular', 'TS', '.NET Core', 'C#']</span><span class="comment">,</span>
  <span class="key">focuses</span><span class="comment">:</span> <span class="array">['Frontend', 'Backend']</span><span class="comment">,</span>
  <span class="key">learning</span><span class="comment">:</span> <span class="string">'Always'</span>
<span class="comment">{{ '};' }}</span>
</pre>


  </div>
</div>
