<section class="contact-wrapper">

  <div class="contact-header">
    <img src="assets/icons/chat.png" class="contact-icon" />
    <h2 class="contact-title">Contact</h2>
  </div>
  <br>

  <div class="contact-card">

    <div class="contact-row">
      <span class="contact-label">Email:</span>
      <a class="contact-value">
        ehsanul.mostofa@gmail.com
      </a>
    </div>

    <div class="contact-row">
      <span class="contact-label">LinkedIn:</span>
      <a class="contact-value" target="_blank"
         href="https://www.linkedin.com/in/ehsanul-mostofa-65b7251a7/">
        linkedin.com/ehsanulmostofa
      </a>
    </div>

    <div class="contact-row">
      <span class="contact-label">GitHub:</span>
      <a class="contact-value" target="_blank"
         href="https://github.com/Ehsanul-mostofa">
        github.com/ehsanulmostofa
      </a>
    </div>

    <div class="contact-row">
      <span class="contact-label">X:</span>
      <a class="contact-value" target="_blank"
         href="https://x.com/EhsanulM14758">
        x.com/ehsanulmostofa
      </a>
    </div>

  </div>

</section>
